@model EmployeeDetailsViewModel

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                    @Html.Image(Model.Photo, 150, 150, new { Class = "rounded-circle", Alt = "EmployeePhoto" })
                    <div class="mt-3">
                        <h4>@Model.FirstName @Model.LastName (@Model.TitleOfCourtesy)</h4>
                        <p class="text-secondary mb-1">@Model.Title</p>
                    </div>
                </div>
            </div>
        </div>
        @if (@Model.Notes is not null)
        {
            <div class="card mt-3">
                <div class="card-body">
                    <h4 class="text-center">Notes</h4>
                    <span class="text-secondary">@Model.Notes</span>
                </div>
            </div>
        }
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Date of birth</h6>
                    </div>
                    <div class="col-sm-9">
                        <span class="text-secondary">@Model.BirthDate!.Value.ToShortDateString()</span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Address</h6>
                    </div>
                    <div class="col-sm-9">
                        <span class="text-secondary">
                            @Model.Address, @Model.City, @(Model.Region is null ? "" : $"{Model.Region}, ")
                            @Model.Country, @Model.PostalCode
                        </span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Home phone</h6>
                    </div>
                    <div class="col-sm-9">
                        <span class="text-secondary">@Model.HomePhone</span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Hired</h6>
                    </div>
                    <div class="col-sm-9">
                        <span class="text-secondary">@Model.HireDate!.Value.ToShortDateString()</span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <a asp-controller="Employees" asp-action="Edit" asp-route-id="@Model.EmployeeId" class="btn btn-info">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>